<nav class="navbar navbar-defualt">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">where deleted objects go to die</a>
    </div>
  </div>
</nav>
<ul>
  <li *ngFor="let tas of tasks">
    <div *ngIf="tas.isComplete; else elseBlock">
      {{ tas.body }}
    </div>
    <ng-template #elseBlock> {{ tas.body }}</ng-template>
    <button
      class="btn btn-primary m-1"
      type="submit"
      (click)="taskRestore(tas)"
    >
      restore
    </button>
    <button
      class="btn btn-danger m-1"
      type="submit"
      (click)="permDelete(tas.id)"
    >
      delete?
    </button>
  </li>
</ul>
