<nav class="navbar navbar-defualt">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">where deleted objects go to die</a>
    </div>
  </div>
</nav>
<ul>
  <li *ngFor="let tas of tasks">
    <div *ngIf="tas.weDone; else elseBlock">
      {{ tas.task }}-<em>{{ tas.date }}</em>
    </div>
    <ng-template #elseBlock> {{ tas.task }}{{ tas.date }} </ng-template>
    <!-- TODO: implement restore btn
    <button
      class="btn btn-danger m-1"
      type="button"
      (click)="taskDelete(tas)"
    >
      delete
    </button>
  --></li>
</ul>
