<div class="col-sm-6">
  <form [formGroup]="form" (ngSubmit)="newTask()" class="container">
    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="name">Activity</label>
        <input
          formControlName="task"
          type="text"
          class="form-control"
          placeholder="what are we doing"
        />
        <div class="row">
          <div class="col-xs-12 mt-2">
            <div class="form-group col-sm-6">
              <label for="amount">date</label>
              <input type="date" formControlName="date" />
            </div>
            <button class="btn btn-primary" type="submit">add</button>
            <button
              class="btn btn-danger m-1"
              type="reset"
              (click)="clearAll()"
            >
              clear all
            </button>
            <ul>
              <li *ngFor="let tas of tasks">
                <div *ngIf="!tas.weDone; else elseBlock">
                  {{ tas.task }}-<em>{{ tas.date }}</em>
                </div>
                <ng-template #elseBlock>
                  <del
                    >{{ tas.task }}-<em>{{ tas.date }}</em></del
                  >
                </ng-template>

                <button
                  class="btn btn-success m-1"
                  type="button"
                  (click)="taskComplete(tas)"
                >
                  done
                </button>
                <button
                  class="btn btn-danger m-1"
                  type="button"
                  (click)="taskDelete(tas)"
                >
                  delete
                </button>
                <button
                  class="btn btn-primary m-1"
                  type="button"
                  (click)="incompleteTask(tas)"
                >
                  restore
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
